body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .product-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
  }
  
  .product-image {
    width: 0px;
    height: auto;
    border-radius: 8px;
  }